<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="<?=Url::to(['site/index'])?>">Головна
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="<?=Url::to(['site/about'])?>">Про нас</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="<?=Url::to(['site/rules'])?>">Правила</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="<?=Url::to(['site/photo-gallery'])?>">Фото шалерея</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="<?=Url::to(['site/contacts'])?>">Написати нам</a>
    </li>
    <?php if (Yii::$app->user->identity->username=='')
    { ?>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Профіль</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="<?=Url::to(['site/login'])?>">Вхід</a>
            <a class="dropdown-item" href="#">Реєстрація</a>
            <a class="dropdown-item" href="#">Нагадати пароль</a>
        </div>
    </li>
    <?php
                            }else{
                                ?>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><?=Yii::$app->user->identity->username?></a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="<?=Url::to(['site/profile'])?>">Профіль</a>
            <a class="dropdown-item" href="<?=Url::to(['site/settings'])?>">Налаштування</a>
            <a class="dropdown-item" href="<?=Url::to(['site/logout'])?>">Вихід</a>
            <form action="/site/logout" method="post">
                <input type="hidden" name="_csrf" value="a2a37u97vQt0uD3_CWAmZ8n4N6yEAKage9UgEqKjWGcICIWFojreVBfgaJN8OkNKpJAAx9VhxcYTj1hH7uAuVw==">
                <button type="submit" class="dropdown-item">Вихід</button>
            </form>
        </div>
    </li>
    <?php
                            }
                            ?>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Мова сайту</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Українська (UK)</a>
            <a class="dropdown-item" href="#">Російська (RU)</a>
            <a class="dropdown-item" href="#">Англійська (EN)</a>
        </div>
    </li>
</ul>