// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
//Style
html {
  position: relative;
  min-height: 100%;
}

a, p, h1, h2, .h2, h3, h4, h5, li, ul, th, .dropdown-item {
  color: $color-original;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;

}

form {
  display: inline;
}

form button {
  background: transparent;
  padding: 0;
  border: 0;
  color: $color-original;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.bg-info {
  background-color: $color-original !important;
}

//menu
.bg-dark {
  background-color: $color-original !important;
}

//dropdown-menu
.dropdown-item.active, .dropdown-item:active {
  background-color: $color-original;
}

//pagination
.page-link {
  color: $color-original;
}

.page-item.active .page-link {
  background-color: $color-original;
  border-color: $color-original;
}

.page-link:hover {
  color: $color-original;
}

.group {
  width: 49%;
  margin-top: .5rem;
}

.btn-github {
  color: #fff;
  background-color: #292d32;
  border-color: #292d32;
}

.btn-github:hover {
  color: #fff;
}

.btn-google {
  color: #fff;
  background-color: #f6002c;
  border-color: #f6002c;
}

.btn-google:hover {
  color: #fff;
}

.btn-facebook {
  color: #fff;
  background-color: #49459e;
  border-color: #49459e;
}

.btn-facebook:hover {
  color: #fff;
}

.btn-twitter {
  color: #fff;
  background-color: #00a2f0;
  border-color: #00a2f0;
}

.btn-twitter:hover {
  color: #fff;
}