// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
//Style
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
//Auth
.group {
  width: 49%;
  margin-top: .5rem;
}

.btn-github {
  color: #fff;
  background-color: #292d32;
  border-color: #292d32;
}

.btn-github:hover {
  color: #fff;
}

.btn-google {
  color: #fff;
  background-color: #f6002c;
  border-color: #f6002c;
}

.btn-google:hover {
  color: #fff;
}

.btn-facebook {
  color: #fff;
  background-color: #49459e;
  border-color: #49459e;
}

.btn-facebook:hover {
  color: #fff;
}

.btn-twitter {
  color: #fff;
  background-color: #00a2f0;
  border-color: #00a2f0;
}

.btn-twitter:hover {
  color: #fff;
}