// Fonts
@import "fonts";
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
//Style
body {
  font-family: $font-family-original;
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

//dropdown-menu
.dropdown-item.active, .dropdown-item:active {
  background-color: $color-original;
}

//pagination
.page-link {
  color: $color-original;
}

.page-item.active .page-link {
  background-color: $color-original;
  border-color: $color-original;
}

.page-link:hover {
  color: $color-original;
}

//btn
.btn-original {
  color: $color-white;
  background-color: $color-original;
  border-color: $color-original;
}

.btn-original:hover {
  color: $color-white;
}